[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
djangorestframework = "*"
pytest-django = "*"
django-oauth-toolkit = "*"

[dev-packages]
flake8 = "*"
bandit = "*"

[requires]
python_version = "3.12"
